<div class="">
  <div class="details-search">
    <h4 style="text-align: center"><%= @title %></h4>

      <ul class="search-user">
        <% @users.each do |result| %>
          <li>
            <% if result.avatar?%>
              <%= image_tag result.avatar.to_s, class: "avatar-search" %>
            <% else %>
              <%= image_tag "ocean.jpg", class: "avatar-search" %>
            <% end %>
            <%= link_to result.name, result, class: "user-name" %>
          </li>
        <% end %>
      </ul>
  </div>
</div>


