$blue: #3498db;
$white: #fff;
$gray: #aaa;
$dark-gray: #555;
$jet-black: #00000080;
$white-than: #edeeee;
$white-fog: #e8e8e8;
$black: #262626;
$white-nani: #e1e2e3;


.btn {
  border-color: $blue;
  color: $white;
  box-shadow: 0 0 20px 20px $blue inset, 0 0 0 0 $blue;
  transition: all 150ms ease-in-out;
  width: 130px;
  margin-left: 15px;

  &:hover {
    box-shadow: 0 0 5px 0 $blue inset, 0 0 5px 3px $blue;
  }
}

.post_content {
  padding: 0;
  width: 100%;

  img {
    float: left;
    width: 100px;
    height: 100px;
  }

  textarea {
    margin-top: 0;
    outline: 0;
    resize: none;
    height: 100px;
  }
}

.new-status {
  background-color: $white;
  border-radius: 5px;
  box-shadow: 1px 0 10px $gray;
  font-family: 'Helvetica Neaue', 'Helvetica', sans-serif;
  margin-top: 1rem;
  padding: 10px;
  overflow: hidden;
  z-index: 3;
  position: relative;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.status-select {
  border: 1px solid $gray;
  color: $dark-gray;
  padding: 5px 10px;
  white-space: nowrap;
  width: 120px;
}

.overlay {
  background-color: $jet-black;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  display: none;
}

.posts-wrapper {
  padding-top: 40px;
  margin: 0 auto;
  width: 800px;
  ul {
    padding: 0;
  }
}

.post {
  background-color: $white;
  border-color: $white-than;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  list-style: none;
  margin-top: 15px;
  li {
    padding: 10px 0;
  }
}

.post-head {
  height: 70px;
  padding: 10px 20px;
  font-size: 15px;
  line-height: 18px;
  margin: 10px;
  .av-na-ti {
    width: 90%;
    display: block;
    height: 100%;
    float: left;
    img {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      float: left;
    }
    a {
      text-decoration: none;
      color: $black;
      font-weight: bold;
    }
    .timestamp {
      display: block;
      margin-left: 70px;
      margin-top: 5px;
    }
  }
  .pin {
    float: left;
    width: 10%;
    height: 100%;
    text-align: right;
    position: relative;
    .dropdown-setting-post {
      position: absolute;
      top: 0;
      right: 0;
      float: left;
      border: none;
      list-style: none;
    }
    .nav ul {
      margin-top: 10px;
      padding: 10px;
      right: 0;
      p {
        padding: 5px;
        cursor: pointer;
        font-size: 15px;
        margin-bottom: 0;
      }
    }
  }
}

.media {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.caption {
  padding: 24px;
  font-size: 15px;
  line-height: 18px;
  word-wrap: break-word;
}

.flexslider ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    img {
      border-radius: 0;
      box-shadow: none;
      max-height: 450px;
    }
    video {
      border-radius: 0;
      box-shadow: none;
      max-height: 450px;
      width: 100%;
    }
  }
}

.flexslider-nav ul li {
  margin-right: 5px;
  cursor: pointer;
}

.stats {
  border-bottom: 1px solid $white-nani;
  padding-bottom: 10px;
  i {
    margin-left: 8px;
  }
}

form .btn-like {
  border-color: $blue;
  color: $white;
  box-shadow: 0 0 20px 20px $blue inset, 0 0 0 0 $blue;
  transition: all 150ms ease-in-out;
  width: 130px;
  margin-left: 0;

  &:hover {
    box-shadow: 0 0 5px 0 $blue inset, 0 0 5px 3px $blue;
    color: $black;
  }
}
